/* bar-chart_style.css */

/* 
.chart div{
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
*/

.bar {
  fill: steelblue;
}

.axis text{
  color:#fff;
}

.axis path, .axis line{
  fill:none;
  stroke:#000;
  shape-rendering:crispEdges;
}

.x.axis path{
  display:none;
}